# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.aar
*.jar

# Test binary, build with `go test -c`
*.test
*.test-p

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# editor cache
.idea/
.dist/

test/

cli/datahop-cli*

mod-cache

*.DS_Store